name: Build Magisk Module

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Release Type'
        required: true
        default: 'pre-release'
        type: choice
        options:
          - 'pre-release'
          - 'latest'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get version info
        id: version
        run: |
          version=$(grep "version=" module.prop | cut -d= -f2)
          versionCode=$(grep "versionCode=" module.prop | cut -d= -f2)
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "version_code=$versionCode" >> $GITHUB_OUTPUT

      - name: Create release ZIP
        run: |
          zip -r magisk-module-${{ steps.version.outputs.version }}.zip * -x ".git/*" ".github/*" "README.md"

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ steps.version.outputs.version }}
          name: Version ${{ steps.version.outputs.version }} (Code ${{ steps.version.outputs.version_code }})
          body: initial release, check the commit messages for more details
          prerelease: ${{ github.event.inputs.release_type == 'pre-release' }}
          draft: false
          files: magisk-module-${{ steps.version.outputs.version }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}